body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 235, 204);
} 

h1 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 54px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

/* Estilos de la cabecera */
header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

nav ul li a:hover {
  background-color: #6e6e6e7e;
  color: #534e4e;
}

/* Estilos del contenido */
p {
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #000000;
}

table th {
  background-color: #6b2737ff;
  color: #ffffff;
  font-weight: bold;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
 
}
.subtitu{
text-align: center;
}
.contenedor-boton {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6b2737ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.boton:hover {
  background-color: #e08e45ff;
}
footer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline-block;
  margin-right: 20px;
}

footer nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

footer nav ul li a:hover {
  background-color: #6e6e6e7e;
  color: #534e4e;
}
h2{
  text-align: center;
}


